.about_title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px;
  color: #212121;
  line-height: 42px;
  text-align: center;
  padding: 100px 0 35px 0;
}

.about_title h1:after {
  display: block;
  content: '';
  width: 64px;
  height: 2px;
  margin: auto;
  margin-top: 30px;
  background-color: #d98943;
}

.about_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #86878b;
  text-align: center;
  margin-bottom: 70px;
}

.about__row {
  display: flex;
  justify-content: space-between;
}

.about__card {
  max-width: 33%;
}

.about__card_content {
}

.about__card_img {
  margin: auto;
  width: 70px;
  height: 70px;
  border: 1px solid #d98943;
  border-radius: 50%;
  margin-bottom: 32px;
}

.about__card_img img {
  display: block;
  margin: auto;
  margin-top: 19px;
}

.about_card_title {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  text-align: center;
  line-height: 27px;
  margin-bottom: 20px;
}

.about_card_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
