.awesome {
  padding: 100px 0;
}

.awesome_row {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.awesome_card {
  max-width: 350px; /*Максимальное расстояние блока 350 пикселей*/
  margin: 0 15px;
}

.awesome_card_img {
  display: flex;
  justify-content: center; /*Контент находится по центру блока*/
  align-items: center;
  width: 70px;
  margin: auto; /* Выравнивание по весь блок по центру родителя */
  height: 70px;
  border: 1px solid #d98943;
  border-radius: 50%; /* Квадрат границы делает кругом */
  margin-bottom: 32px;
}

.awesome_card_title {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  text-align: center;
  line-height: 27px; /*Межстрочный отступ */
  margin-bottom: 20px;
}

.awesome_card_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
