.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.1rem;
  border: 2px solid #ffffff;
  padding: 11px 26px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s linear;
  display: block;
  margin: auto;
}

.button:hover {
  background-color: #fff;
  color: #010101;
  transform: scale(1.1, 1);
}
