@import url('./awesome.css');
@import url('./cdn.css');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1170px;
  padding: 100px 0;
  margin: auto;
}
.title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px;
  color: #212121;
  line-height: 42px;
  text-align: center;
  margin-bottom: 35px;
}

.title h2:after {
  display: block;
  content: '';
  width: 64px;
  height: 2px;
  margin: auto;
  margin-top: 30px;
  background-color: #d98943;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #86878b;
  text-align: center;
  margin-bottom: 70px;
}
